@import "../colors.scss";

.settings-button-light {
  flex: auto;
  align-items: center;
  color: gray;
}

.settings-button-light:hover {
  color: black;
}

.settings-button-dark {
  flex: auto;
  align-items: center;
  color: $gray-500;
}

.settings-button-dark:hover {
  color: $color-primary-select;
}

.logout-button-light {
  flex: auto;
  align-items: center;
  margin: 10px;
  color: gray;
}

.logout-button-light:hover {
  color: black;
}

.logout-button-dark {
  flex: auto;
  align-items: center;
  margin: 10px;
  color: $gray-500;
}

.logout-button-dark:hover {
  color: $color-primary-select;
}

.logout-button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.newchat-button-light {
  flex: auto;
  align-items: center;
  margin: 10px;
  color: gray;
}

.newchat-button-light:hover {
  color: black;
}

.newchat-button-dark {
  flex: auto;
  align-items: center;
  margin: 10px;
  color: $gray-500;
}

.newchat-button-dark:hover {
  color: $color-primary-select;
}

.back-button-light {
  flex: auto;
  align-items: center;
  margin: 10px;
  color: gray;
}

.back-button-light:hover {
  color: black;
}

.back-button-dark {
  flex: auto;
  align-items: center;
  margin: 10px;
  color: $gray-500;
}

.back-button-dark:hover {
  color: $color-primary-select;
}

.back-button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
