@import "./colors.scss";

.list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 320px;
  background-color: white;
  color: black;
  //border-right: 1px solid $gray-400;

  &.dark {
    background-color: $color-secondary;
    color: white;
  }

  .chat-span {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
    font-size: 26px;
    font-weight: bold;
  }

  .items {
    padding: 0;
  }

  .items .item {
    position: relative;
    width: 100%;
    padding: 10px 1rem;
    cursor: pointer;
    border-bottom: 1px solid $gray-100;
  }

  .items .item.active-item,
  .item:hover {
    background-color: #ffffff;
    /* Fallback Color */
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f7f9fb),
      to(#ffffff)
    );
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #f7f9fb, #ffffff);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #f7f9fb, #ffffff);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #f7f9fb, #ffffff);
    /* IE10 */
    background-image: -o-linear-gradient(right, #f7f9fb, #ffffff);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #f7f9fb, #ffffff);

    &.dark {
      background-color: $gray-400;
      /* Fallback Color */
      background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from($gray-600),
        to($color-secondary)
      );
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(right, $color-secondary, $gray-900);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(right, $color-secondary, $gray-900);
      /* FF3.6 */
      background-image: -ms-linear-gradient(right, $color-secondary, $gray-900);
      /* IE10 */
      background-image: -o-linear-gradient(right, $color-secondary, $gray-900);
      /* Opera 11.10+ */
      background-image: linear-gradient(right, $color-secondary, $gray-900);
    }
  }

  .items .person:last-child {
    border-bottom: 0;
  }

  .items .item .item-status {
    display: inline-block;
    position: relative;
    margin-right: 10px;
  }

  .items .item .item-status img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }

  .items .item .item-status .status {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #e6ecf3;
    position: absolute;
    top: 0;
    right: 0;
  }

  .items .item .item-status .status.online {
    background: #9ec94a;
  }

  .items .item .item-status .status.offline {
    background: #c4d2e2;
  }

  .items .item .item-status .status.away {
    background: #f9be52;
  }

  .items .item .item-status .status.busy {
    background: #fd7274;
  }

  .items .item p.name-time {
    font-weight: 600;
    font-size: 0.85rem;
    display: inline-block;
  }

  .items .item p.name-time .time {
    font-weight: 400;
    font-size: 0.7rem;
    text-align: right;
    color: #8796af;
  }

  @media (max-width: 767px) {
    .items .item .item-status img {
      width: 30px;
      height: 30px;
    }
    .items .item p.name-time {
      display: none;
    }
    .items .item p.name-time .time {
      display: none;
    }
  }

  @media (max-width: 767px) {
    align-items: center;
    width: 120px;
  }
}
