/*
*********************************************************
                    BALSAMIQ-SANS Fonts
*********************************************************
*/

//balsamiqsans-regular
@font-face {
  font-family: "balsamiq_sansregular";
  src: url("../fonts/BalsamiqSans/balsamiqsans-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/BalsamiqSans/balsamiqsans-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
//balsamiq_sansbold
@font-face {
  font-family: "balsamiq_sansbold";
  src: url("../fonts/BalsamiqSans/balsamiqsans-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/BalsamiqSans/balsamiqsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
//balsamiq_sansbold_italic
@font-face {
  font-family: "balsamiq_sansbold_italic";
  src: url("../fonts/BalsamiqSans/balsamiqsans-bolditalic-webfont.woff2")
      format("woff2"),
    url("../fonts/BalsamiqSans/balsamiqsans-bolditalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
//balsamiq_sansitalic
@font-face {
  font-family: "balsamiq_sansitalic";
  src: url("../fonts/BalsamiqSans/balsamiqsans-italic-webfont.woff2")
      format("woff2"),
    url("../fonts/BalsamiqSans/balsamiqsans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
  *********************************************************
                      NOTO-SANS Fonts
  *********************************************************
  */

//noto_sansblack
@font-face {
  font-family: "noto_sansblack";
  src: url("../fonts/NotoSans/notosans-black-webfont.woff2") format("woff2"),
    url("../fonts/NotoSans/notosans-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

//noto_sansbold
@font-face {
  font-family: "noto_sansbold";
  src: url("../fonts/NotoSans/notosans-bold-webfont.woff2") format("woff2"),
    url("../fonts/NotoSans/notosans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

//noto_sanslight
@font-face {
  font-family: "noto_sanslight";
  src: url("../fonts/NotoSans/notosans-light-webfont.woff2") format("woff2"),
    url("../fonts/NotoSans/notosans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

//noto_sansitalic
@font-face {
  font-family: "noto_sansitalic";
  src: url("../fonts/NotoSans/notosans-italic-webfont.woff2") format("woff2"),
    url("../fonts/NotoSans/notosans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

//noto_sansmedium
@font-face {
  font-family: "noto_sansmedium";
  src: url("../fonts/NotoSans/notosans-medium-webfont.woff2") format("woff2"),
    url("../fonts/NotoSans/notosans-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

//noto_sansregular
@font-face {
  font-family: "noto_sansregular";
  src: url("../fonts/NotoSans/notosans-regular-webfont.woff2") format("woff2"),
    url("../fonts/NotoSans/notosans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

//noto_sansthin
@font-face {
  font-family: "noto_sansthin";
  src: url("../fonts/NotoSans/notosans-thin-webfont.woff2") format("woff2"),
    url("../fonts/NotoSans/notosans-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

//noto_sanssemibold
@font-face {
  font-family: "noto_sanssemibold";
  src: url("../fonts/NotoSans/notosans-semibold-webfont.woff2") format("woff2"),
    url("../fonts/NotoSans/notosans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
