@import "./colors.scss";
//@import "../styles/fonts.scss";
html,
body {
  height: 100%;
}

#talktive {
  height: 100%;
}

.app-title {
  padding: 10px 1rem;
}

.fh {
  height: 100%;
}

.content-window-horizontal {
  display: flex;
  height: 100%;
}

.content-window-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
}
